*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 82px;
}

body {
  font-family: "Montserrat", sans-serif;
}

.shadow-bg {
  background-color: rgba(0, 0, 0, 0.7);
}

h2 {
  text-align: center;
  text-transform: uppercase;
}

.underline {
  background-color: #00caf8;
  height: 4px;
  width: 80px;
  margin: 0 auto;
}

nav {
  z-index: 2;
}
nav .navbar-brand {
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  transition: color 0.3s;
}
nav .navbar-brand span {
  color: #00caf8;
}
nav .navbar-brand:hover {
  color: #00caf8;
}
nav .navbar-collapse a {
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  transition: color 0.3s;
}
nav .navbar-collapse a:hover {
  color: #00caf8;
}
nav .navbar-collapse .active {
  color: #00caf8;
}
nav .fa-bars {
  color: #cfcfcf;
  font-size: 30px;
}

.hero-img {
  position: relative;
  background-image: url("../img/camera-1920.jpg");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.hero-img .hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #fff;
}
.hero-img .hero-text .btn {
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 20px;
  margin-top: 10px;
}
.hero-img .hero-text span {
  color: #00caf8;
}

.hero-img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}

.row .aboutus-item {
  transition: color 0.3s;
}
.row .aboutus-item .fa-solid {
  font-size: 36px;
  padding-top: 20px;
}
.row .aboutus-item .aboutus-item-title {
  text-transform: uppercase;
  font-size: 20px;
}
.row .aboutus-item:hover {
  color: #0099ff;
}

.aboutus-hero {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("../img/travel_1920.jpg");
  background-position: center;
  background-size: cover;
  z-index: 0;
  color: #fff;
}
.aboutus-hero .aboutus-shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}
.aboutus-hero .aboutus-hero-item .fa-solid {
  font-size: 36px;
}
.aboutus-hero .aboutus-hero-item .hero-title {
  font-size: 20px;
}

.trips {
  background-color: #f5fbff;
}
.trips .carousel .carousel-item img {
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}
.trips .carousel .carousel-item .carousel-caption {
  position: absolute;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.price-group .price-item {
  box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.7);
  transition: transform 0.3s;
  margin: 20px 10px;
  padding: 30px;
  background-color: #f5fbff;
}
.price-group .price-item .price-title {
  text-transform: uppercase;
  color: #0099ff;
  font-size: 28px;
}
.price-group .price-item .line {
  width: 100%;
  height: 2px;
  background-color: #e2e2e2;
  margin-bottom: 20px;
}
.price-group .price-item span {
  font-weight: bold;
}
.price-group .price-item li {
  margin-bottom: 10px;
}
.price-group .price-item .price-number {
  font-weight: bold;
  font-size: 25px;
}
.price-group .price-item .btn {
  padding: 10px 20px;
  text-transform: uppercase;
}
.price-group .price-item:hover {
  transform: scale(1.05);
}

.team {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("../img/team_1920.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 1;
}
.team h2 {
  color: #fff;
}
.team .card-group .card {
  transition: transform 0.3s;
}
.team .card-group .card img {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.team .card-group .card .card-body {
  height: 170px;
}
.team .card-group .card .card-body .card-title {
  text-transform: uppercase;
  text-align: center;
}
.team .card-group .card .card-footer i {
  font-size: 20px;
  color: #0099ff;
}
.team .card-group .card:hover {
  transform: scale(0.96);
}

.team::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.opinions {
  background-color: #f5fbff;
}
.opinions .card-box .card-header {
  font-weight: bold;
}/*# sourceMappingURL=main.css.map */